[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[tool.setuptools]
packages = []

[tool.render]
build-command = "./build.sh"
start-command = "gunicorn malware_detector.wsgi:application"
