services:
  - type: web
    name: malware-detector
    env: python
    plan: free
    buildCommand: "./build.sh"
    startCommand: "gunicorn malware_detector.wsgi:application"
    envVars:
      - key: DEBUG
        value: false
      - key: SECRET_KEY
        generateValue: true
      - key: WEB_CONCURRENCY
        value: 4
